body{
    background-color:#F3EFE0;
  }
hr{
    border-style: none;
    border-top-style: dashed;
    border-color: #222222;
    border-width: 5px;
    height: 60px;
    width:10%;
  }
h1{
    font-family: montserrat, sans-serif;
    font-style: bold;
    font-weight: 100;
    color: #22A39F;
}

h2{
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #22A39F;
}

h3{
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #22A39F;
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

tr {
	padding: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#434242;
}

th {
	text-align: left;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#434242;
}

td {
	text-align: left;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#434242;
}
	
P{
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:lighter;
  color:#434242;
}

ul{
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:lighter;
  color:#434242;
}

li{
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:lighter;
  color:#434242;
}

a{
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:lighter;
  color:#434242;
}

form {
  text-align: left;
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:lighter;
  color:#434242;
}

label{
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:lighter;
  color:#434242;
}

